directory ="/app/downloads/"
session ="/app/sessions/"
schedule = watch_directory,5,5,load_start="/app/watch/*.torrent"
log.open_file = "rtorrent", /app/conf/rtorrent.log
log.add_output = "info", "rtorrent"

### BitTorrent
# Global upload and download rate in KiB, `0` for unlimited
throttle.global_down.max_rate.set = 0
throttle.global_up.max_rate.set = 0

# Maximum number of simultaneous downloads and uploads slots
throttle.max_downloads.global.set = 150
throttle.max_uploads.global.set = 150

# Maximum and minimum number of peers to connect to per torrent while downloading
throttle.min_peers.normal.set = 30
throttle.max_peers.normal.set = 150

# Same as above but for seeding completed torrents (seeds per torrent)
throttle.min_peers.seed.set = -1
throttle.max_peers.seed.set = -1

### Networking
network.bind_address.set = 0.0.0.0
network.port_range.set = 60103-60103
network.port_random.set = no
dht.mode.set = disable
protocol.pex.set = yes
trackers.use_udp.set = yes

#network.scgi.open_port = 127.0.0.1:6000
network.scgi.open_local = /run/rtorrent.sock
schedule = socket_chmod,0,0,"execute=chmod,0777,/run/rtorrent.sock"
network.http.ssl_verify_peer.set = 0
#network.http.ssl_verify_host.set = 0
protocol.encryption.set = allow_incoming,enable_retry,prefer_plaintext

network.max_open_files.set = 4096
network.max_open_sockets.set = 1536
network.http.max_open.set = 48
network.send_buffer.size.set = 4M
network.receive_buffer.size.set = 4M

### Memory Settings
pieces.hash.on_completion.set = no
pieces.preload.type.set = 1
pieces.memory.max.set = 500M

### The following line initialises rutorrent plugins without needing to open the web interface
#execute = {sh,-c,/usr/bin/php /usr/share/nginx/ruTorrent/php/initplugins.php root &}
