# This is the rtorrent configuration file installed by rtinst script - https://github.com/arakasi72/rtinst
# This file is installed to ~/.rtorrent.rc
# Enable/modify the options as needed, uncomment the options you wish to enable.
# This configuration will work well with most systems, but optimal settings are dependant on specific server setup



directory = "/app/downloads/"
session = "/app/sessions/"
schedule = watch_directory,5,5,load_start="/app/watch/*.torrent"

### BitTorrent
# Global upload and download rate in KiB, `0` for unlimited
throttle.global_down.max_rate.set_kb = 102400
throttle.global_up.max_rate.set_kb = 102400

# Maximum number of simultaneous downloads and uploads slots
throttle.max_downloads.global.set = 150
throttle.max_uploads.global.set = 150

# Maximum and minimum number of peers to connect to per torrent while downloading
throttle.min_peers.normal.set = 128
throttle.max_peers.normal.set = 1024

# Same as above but for seeding completed torrents (seeds per torrent)
throttle.min_peers.seed.set = -1
throttle.max_peers.seed.set = -1

trackers.numwant.set = -1

### Networking
network.bind_address.set = 0.0.0.0
#network.local_address.set = "ddns.home.com"
network.port_range.set = 60103-60103
network.port_random.set = no
network.http.dns_cache_timeout.set = 0
dht.mode.set = auto
protocol.pex.set = yes
trackers.use_udp.set = yes

execute.nothrow = rm,/run/rtorrent.sock
network.scgi.open_local = /run/rtorrent.sock
schedule = socket_chmod,0,0,"execute=chmod,0777,/run/rtorrent.sock"
network.http.ssl_verify_host.set = 0
network.http.ssl_verify_peer.set = 0
network.http.capath.set = /etc/ssl/certs
protocol.encryption.set = allow_incoming,enable_retry,prefer_plaintext

network.max_open_files.set = 4096
network.max_open_sockets.set = 1536
network.http.max_open.set = 256
network.send_buffer.size.set = 4M
network.receive_buffer.size.set = 4M

### Memory Settings
pieces.hash.on_completion.set = no
pieces.preload.type.set = 1
pieces.memory.max.set = 1024M

### The following line initialises rutorrent plugins without needing to open the web interface
#execute = {sh,-c,/usr/bin/php /app/ruTorrent/php/initplugins.php root &}


#EOF
